.bgImage {
  z-index: 3;
  width: 375px;
  height: 812px;
    background-image: url("../images/bg_login.svg");
}

.mask {
  z-index: 4;
  width: 375px;
  height: 812px;
  /* border: solid 0px #979797; */
  background: #d8d8d8;
}

.blurMask {
  z-index: 4;
  width: 375px;
  height: 812px;
  background: linear-gradient(90deg, #0D9DA6, #11DBB3);
}


.lOGINWITH {
  z-index: 3;
  width: 57.96px;
  height: 13px;
  color: #ffffff;
  /*font-family: "SFProText-Medium";*/
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.1818182px;
}


.pageTitle {
  z-index: 3;
  width: 39.71px;
  height: 16px;
  color: #ffffff;
    font-family: "SFProText-Semibold", monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.923077px;
}





.loginButto {
  z-index: 3;
  width: 335px;
  height: 50px;
}

.buttonsWhi {
  z-index: 4;
  width: 335px;
  height: 50px;
}

.rectangle {
  z-index: 5;
  width: 335px;
  height: 50px;
  border-radius: 25px;
  background: #ffffff;
  margin-top: 2vh;
}

.texto_login {
  z-index: 5;
  width: 250px;
  height: 50px;
  color: #50505a;
  font-family: "SFProText-Regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}


.abajo_texto_explicacion
{
 position: sticky;
 top: 100vh;



}