.bgImage {
  z-index: 3;
  width: 375px;
  height: 812px;
    background-image: url("../images/bg_login.svg");
}

.mask {
  z-index: 4;
  width: 375px;
  height: 812px;
  /* border: solid 0px #979797; */
  background: #d8d8d8;
}

.blurMask {
  z-index: 4;
  width: 375px;
  height: 812px;
  background: linear-gradient(90deg, #0D9DA6, #11DBB3);
}


.lOGINWITH {
  z-index: 3;
  width: 58px;
  height: 13px;
  color: #ffffff;
  /*font-family: "SFProText-Medium";*/
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.1818182px;
}


.pageTitle {
  z-index: 3;
  width: 40px;
  height: 16px;
  color: #ffffff;
    font-family: "SFProText-Semibold", monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.923077px;
}





.loginButto {
  z-index: 3;
  width: 335px;
  height: 50px;
}

.buttonsWhi {
  z-index: 4;
  width: 335px;
  height: 50px;
}

.rectangle {
  z-index: 5;
  width: 335px;
  height: 50px;
  border-radius: 25px;
  background: #ffffff;
  margin-top: 2vh;
}

.texto_login {
  z-index: 5;
  width: 250px;
  height: 50px;
  color: #50505a;
  font-family: "SFProText-Regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}


.abajo_texto_explicacion
{
 position: sticky;
 top: 100vh;



}




.borde_fieldset {
  border: 2px groove white !important;
  padding: 0 1.4em 1vh 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px white;
  box-shadow: 0px 0px 0px 0px white;
}

/*------------ FONDO PAGOOOOOO --*/
.imageBackg {
  z-index: 3;
  width: 375px;
  height: 812px;
}

.mask {
  z-index: 4;
  width: 375px;
  height: 812px;
  background: #d8d8d8;
}

.darkgradie {
  z-index: 4;
  width: 375px;
  height: 159px;
  background: linear-gradient(0deg, #00000000, #67000000);
}



/*----------- BOTON PAGO ------------------*/
.tabColor_pago {
  z-index: 5;
  width: 173px;
  height: 40px;
 vertical-align: center;
}

.rectangulo_pago {
  z-index: 6;
  width: 173px;
  height: 40px;
  border-radius: 25px;
  background: linear-gradient(90deg, #0D9DA6, #11DBB3);
  /*display:flex; justify-content:center; align-items:center;*/
   vertical-align: center;
}

.text_pago {
  z-index: 6;
  width: 173px;
  height: 40px;
  color: #ffffff;
  font-family: "SFProText-Semibold", monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  /*vertical-align: middle;*/
  letter-spacing: 1px;
   vertical-align: center;
  border: white;
}


/* ------------ MENU ADMIN --------------*/

.fondo_menu_admin
{
  z-index: 31;
  width: auto;
  height: auto;
  /*background: #414141;*/
  background-image: url("../images/full_bg.png");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background: linear-gradient(213deg, #F3C7A1, #E87975);*/
  /*background: rgba(255,255,255,0);*/
  /*box-shadow: inset -1px -114px 72px rgba(0,0,0,0.19);*/
}






.submenu {
  z-index: 4;
  width: auto;
  height: auto;

  /*bottom: 10vh;*/
}

.rectangle7 {
  z-index: 5;
  width: auto;
  height: auto;
  background: #10101069;
  /*box-shadow: 0px 2px 15px rgba(0,0,0,0.16);*/
  box-shadow: 1px -15px 20px 7px #10101069;

}

.col-xs-5
{
   padding-right: 0;
     padding-left: 0;

}

.pageTitleC {
  z-index: 5;
  /*width: 30px;*/
  height: 13px;
  /*color: #c47b31;*/
  font-family: 'Cairo', sans-serif, monospace;
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 13px;
  text-align: center;
  letter-spacing: 1px;


  -webkit-text-fill-color: #b4b2b0;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.1px;



}

.glyphicon_font
{
  font-size: 9vw;
color: #b4b2b0;
  text-align: end;

}


.glyphicon_font_footer
{
position: initial;
  font-size: 35px;
/*color: #ff8000;*/
  color: #c47b31;

}


.menu_enlinia {
    display: flex;
    align-items: center;
}

.linea_listado
{
  z-index: 3;
  width: auto;
  height: 1px;
  /*background: #d8d8d8;*/
  background: rgb(38, 40, 41);
  margin-top: -4px;
    /*margin-bottom: 18px;*/
}

.tabs_fixed
{
padding-left: 5vh;

}

.ul_fixed
{
border-color: #c47b31;
  margin-top: -20px;
}

.col-xs-12_fix_padding
{
  padding-right: 0;
    padding-left: 0;

}

.col-xs-12
{
 width: auto;
}

.paderecha
{
  margin-left: auto;
  /*margin-top: auto;*/

}

.fuente_listado_pisos
{
  /*width: 530px;*/
  /*height: 80px;*/
  color: #b4b2b0;
  font-family: "Baloo Bhai", serif;
  font-size: 7vw;
  font-weight: 400;
  /*line-height: 45px;*/
  text-align: center;
  display: flex;
  
}

.nav-bar_fixed_height
{
  min-height: 53px;

}

.nav-tabs>li.active>a {
    background-color: gray !important;
    color: #fff;
}

.nav>li>a:hover {
background-color: #6f6262;

}

.nav-tabs>li>a {
    /*background-color: gray !important;*/
    color: orange;
  border-radius: 21px 4px 0 0;
}


.nav-bar_fixed_top
{
  top: 0px;
    /*background-color:#229922;*/
    /*color:#ffffff;*/
    /*border-radius:0;*/

}


.container-fluid
{
padding-right: 0;
  padding-left: 0;

}

.row
{
margin-right: 0;
  margin-left: 0;


}

.show_clicked_abajo
{
  z-index: 0;
  height: auto;
  width: auto;
  background-image: url("../images/btn_pulsado.png");


}


 /*----------------- CENTRO CONTENIDO -----------*/
.centro_contenido {
  z-index: 3;
  width: auto;
  margin-top: 1px;
  /*background-color: #0D9DA6;*/
    overflow-y: scroll;
    color: whitesmoke;
}


/*.foo{*/
/*    margin-top: calc( var(windowHeight) / 2 );*/
/*}*/





