{% extends "base_menu_admin.html" %}

{% block titulo %}AÑADIR VIVIENDA{% endblock %}

{% block footer_alta_piso %}
    <div class="col-xs-5 show_clicked_abajo text-center">
         <a href="{{ url_for("alta_piso") }}">
        <span class="glyphicon glyphicon-plus glyphicon_font_footer"></span>
        <div class="pageTitleC ">AÑADIR</div>
             </a>
    </div>
{% endblock %}


{% block contenido_central %}
    <div class="container_centering">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-5">
                    <div id="wizard_container">
                            <form id="wrapped" method="POST" autocomplete="off">
                                <input type="hidden" name="nombre" value="{{ session["nombre"] }}">

                                {% if session["mensajeerror"] == 0%}

                                {% elif session["mensajeerror"] == 2 %}
                                    <h3 class=" label-danger">YA EXISTE EL INMUEBLE</h3>
                                {% elif session["mensajeerror"] == 1 %}
                                    <h3 class="  label-success">
                                        DADO DE ALTA CORRECTAMENTE

                                        {% if anterior_calle and anterior_numero %}
                                            <p>Calle: {{ anterior_calle }} Numero: {{ anterior_numero }}</p>
                                        {% endif %}
                                    </h3>


                                {% endif %}


	                            <div id="middle-wizard">
	                                <div class="step">
                                        <h3 class="main_question">
                                            <strong class="">1 de 5</strong>
                                            <p class="titulo">TIPO DE VIVIENDA</p>
                                        </h3>
	                                    <div class="review_block">
                                              <ul>
                                                <li>
                                                    <div class="checkbox_radio_container">
                                                        <input type="radio" id="piso" name="question_1" class="required" value="piso" onchange="getVals(this, 'question_1');">
                                                        <label class="radio" for="piso"></label>
                                                        <label for="piso" class="wrapper">Piso</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox_radio_container">
                                                        <input type="radio" id="chalet" name="question_1" class="required" value="chalet" onchange="getVals(this, 'question_1');">
                                                        <label class="radio" for="chalet"></label>
                                                        <label for="chalet" class="wrapper">Chalet</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox_radio_container">
                                                        <input type="radio" id="casarural" name="question_1" class="required" value="casarural" onchange="getVals(this, 'question_1');">
                                                        <label class="radio" for="casarural"></label>
                                                        <label for="casarural" class="wrapper">Casa Rural</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox_radio_container">
                                                        <input type="radio" id="oficina" name="question_1" class="required" value="oficina" onchange="getVals(this, 'question_1');">
                                                        <label class="radio" for="oficina"></label>
                                                        <label for="oficina" class="wrapper">Oficina</label>
                                                    </div>
                                                </li>
                                            </ul>
	                                    </div>
	                                </div>

                                    <div class="step">
                                         <h3 class="main_question">
                                            <strong class="">2 de 5</strong>
                                            <p class="titulo">LOCALIZACION VIVIENDA</p>
                                        </h3>
                                        <div class="form-group">
	                                        <label for="calle">Calle</label>
                                            <input type="text" name="calle" id="calle" value="{{ calle }}" class="form-control required">
                                            <button type="button" name="obtener_calle" value="1" onclick="obtenercalle()">
{#                                                <span class="glyphicon glyphicon-screenshot pull-right glyphicon_font paderecha col-xs-12_fix_padding"></span>#}

                                                OBTENER POSICION</button>
{#                                            <button type="button" name="obtener_calle" value="1" onclick="showPosition()">OBTENER POSICION</button>#}
{#	                                        <input type="text" name="firstname" id="firstname" class="form-control required">#}
	                                    </div>
                                        <div class="form-group">
	                                        <label for="numero">Numero</label>
                                            <input type="text" name="numero" id="numero" value="{{ numero }}" class="form-control required">
{#	                                        <input type="text" name="firstname" id="firstname" class="form-control required">#}
	                                    </div>

                                        <div class="form-group">
	                                        <label for="cp">Codigo Postal</label>
                                            <input type="text" name="cp" id="cp" value="{{ cp }}" class="form-control required">
	                                    </div>

                                         <div class="form-group">
	                                        <label for="localidad">Localidad</label>
                                            <input type="text" name="localidad" id="localidad" value="{{ localidad }}" class="form-control required">
	                                    </div>



                                    </div>
                                    <div class="step">
                                        <h3 class="main_question">
                                            <strong class="">3 de 5</strong>
                                            <p class="titulo">DATOS DUEÑO</p>
                                        </h3>
                                        <div class="form-group">
	                                        <label for="dueno">Dueño</label>
                                            <input type="text" name="dueno" id="dueno" value="{{ dueno }}" class="form-control required">
	                                    </div>

                                        <div class="form-group">
	                                        <label for="wasap">Whatsapp</label>
                                            <input type="text" name="wasap" id="wasap" value="{{ wasap }}" class="form-control required">
	                                    </div>

                                        <div class="form-group">
	                                        <label for="telefonodueno">Telefono</label>
                                            <input type="text" name="telefonodueno" id="telefonodueno" value="{{ telefonodueno }}" class="form-control required">
	                                    </div>


                                        <div class="form-group">
	                                        <label for="calledueno">Calle</label>
                                            <input type="text" name="calledueno" id="calledueno" value="{{ calledueno }}" class="form-control required">
	                                    </div>

                                         <div class="form-group">
	                                        <label for="numerodueno">Numero</label>
                                            <input type="text" name="numerodueno" id="numerodueno" value="{{ numerodueno }}" class="form-control required">
	                                    </div>
                                    </div>

                                    <div class="step">

                                        <h3 class="main_question">
                                            <strong class="">4 de 5</strong>
                                            <p class="titulo">DATOS VIVIENDA</p>
                                        </h3>

                                        <div class="review_block">
	                                        <ul>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="checkbox" id="question_3_opt_1" name="question_3[]" class="required" value="alquiler" onchange="getVals(this, 'question_3');">
	                                                    <label class="checkbox" for="question_3_opt_1"></label>
	                                                    <label for="question_3_opt_1" class="wrapper">Alquiler</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="checkbox" id="question_3_opt_2" name="question_3[]" class="required" value="venta" onchange="getVals(this, 'question_3');">
	                                                    <label class="checkbox" for="question_3_opt_2"></label>
	                                                    <label for="question_3_opt_2" class="wrapper">Venta</label>
	                                                </div>
	                                            </li>
                                            </ul>
                                        </div>

                                        <div class="form-group">
	                                        <label for="precioalquiler">Precio Alquiler</label>
                                            <input type="text" name="precioalquiler" id="precioalquiler" value="{{ precioalquiler }}" class="form-control">
	                                    </div>

                                        <div class="form-group">
	                                        <label for="precioventa">Precio Venta</label>
                                            <input type="text" name="precioventa" id="precioventa" value="{{ precioventa }}" class="form-control">
	                                    </div>

                                         <div class="form-group">
	                                        <label for="totalmetros">Total Metros</label>
                                            <input type="text" name="totalmetros" id="totalmetros" value="{{ totalmetros }}" class="form-control required">
	                                    </div>
                                        <div class="form-group">
	                                        <label for="habitaciones">Habitaciones</label>
                                            <input type="text" name="habitaciones" id="habitaciones" value="{{ habitaciones }}" class="form-control required">
	                                    </div>
                                        <div class="form-group">
	                                        <label for="banos">Baños</label>
                                            <input type="text" name="banos" id="banos" value="{{ banos }}" class="form-control required">
	                                    </div>


                                    </div>

	                                <div class="submit step">
                                        <h3 class="main_question">
                                            <strong class="">5 de 5</strong>
                                            <p class="titulo">FOTOS VIVIENDA</p>
                                        </h3>
                                        <div class="form-group">

{#                                            <form id="fileupload" action="#" method="POST" enctype="multipart/form-data">#}
                                                <div class="row files" id="files1">
                                                    <label>Fotos casa:</label>
                                                    <span class="btn btn-default btn-file">Seleccionar
                                                        <input type="file" name="files1" accept="image/*" multiple>
                                                    </span>
                                                    <br><br><br>
                                                    <ul class="fileList">
                                                    </ul>
                                                </div>
{#                                            </form>#}
                                        </div>
	                                </div>

	                            </div>
	                            <div id="bottom-wizard">
	                                <button type="button" name="backward" class="backward">Anterior</button>
	                                <button type="button" name="forward" class="forward">Siguiente</button>
	                                <button type="submit" name="process" class="submit">Enviar</button>
	                            </div>

                            <br><br>
                                {% if latitude_gps %}
                                <input type="text" id="latitude_gps" name="latitude_gps" value="{{ latitude_gps }}" class="form-control">
                                {% else %}
                                    <input type="text" id="latitude_gps" name="latitude_gps" value="" class="form-control">
                                {% endif %}

                                {% if longitude_gps %}
                                <input type="text" id="longitude_gps" name="longitude_gps" value="{{ longitude_gps }}" class="form-control">
                                {% else %}
                                    <input type="text" id="longitude_gps" name="longitude_gps" value="" class="form-control">
                                {% endif %}

                                {% if precision %}
                                <input type="text" id="precision" name="precision" value="{{ precision }}" class="form-control">
                                {% else %}
                                    <input type="text" id="precision" name="precision" value="" class="form-control">
                                {% endif %}


	                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    $(document).ready(showPosition());




    function showPosition()
    {

        if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(function(position)
            {
                document.getElementById("latitude_gps").value =  position.coords.latitude.toString();
                document.getElementById("longitude_gps").value =  position.coords.longitude.toString() ;
                document.getElementById("precision").value = position.coords.accuracy.toString() + " metros";;


            }, function(error)
            {

                switch(error.code)
                {
                    case error.PERMISSION_DENIED:
                         document.getElementById("latitude_gps").innerHTML = "User denied the request for Geolocation.";
                    break;
                    case error.POSITION_UNAVAILABLE:
                         document.getElementById("latitude_gps").innerHTML = "Location information is unavailable.";
                    break;
                    case error.TIMEOUT:
                         document.getElementById("latitude_gps").innerHTML = "The request to get user location timed out.";
                    break;
                    default:
                         document.getElementById("latitude_gps").innerHTML = "An unknown error occurred.";
                    break;
                }

            }, {maximumAge:10000, timeout:5000, enableHighAccuracy: true});

        } else {
            alert("Sorry, your browser does not support HTML5 geolocation.");
        }
    }


    $.fn.fileUploader = function (filesToUpload, sectionIdentifier)
    {
        var fileIdCounter = 0;

        this.closest(".files").change(function (evt)
        {

            var output = [];
            var promises = [];



            for (var i = 0; i < evt.target.files.length; i++)
            {

                let filePromise = new Promise(resolve =>
                {
                    console.log("promise inside=>");
                    let reader = new FileReader();
                    reader.readAsDataURL(evt.target.files[i]);
                    
                    reader.onload = () => resolve(reader.result);
                    
                });
                promises.push(filePromise, evt.target.files[i].name, evt.target.files[i].size);

            }


            Promise.all(promises).then(fileContents =>
            {

                for (var i = 0; i < fileContents.length; i=i+3)
                {
                    fileIdCounter++;
                    var fileId = sectionIdentifier + fileIdCounter;

                    filesToUpload.push({
                        id: fileId,
                        file: fileContents[i + 1]
                    });

                    var removeButton = '<button type="button" class="removeFile btn btn-danger" data-fileid="' + fileId + '"> Quitar </button><br><br>';
                    {#var renameButton = '<br><br><button type="button" class="renameFile btn btn-warning" data-fileid="' + fileId + '">Renombrar</button>';#}
                    var removeLink = "<a class=\"removeFile\" href=\"#\" data-fileid=\"" + fileId + "\">Quitar</a>";
                    let size = "";
                    if (fileContents[i + 2] === 0)
                    {
                        size = "0 Bytes";
                    }
                    else
                    {
                        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                        const lent = Math.floor(Math.log(fileContents[i + 2]) / Math.log(1024));
                        size = parseFloat((fileContents[i + 2] / Math.pow(1024, lent)).toFixed(2)) + ' ' + sizes[lent];
                    }

                    output.push('<li class="tx"><img src="' + fileContents[0 + i]  +  '" width="100px" height="100px"><strong>',
                     escape(fileContents[i+ 1]), '</strong> - ', size , '. &nbsp; &nbsp; ', removeButton, '</li> ');


                }
                $(this).children(".fileList").append(output.join(""));
                    evt.target.value = null;


                {#fileIdCounter++;#}
                {#var fileId = sectionIdentifier + fileIdCounter;#}
                {##}
                {#filesToUpload.push({#}
                {#    id: fileId,#}
                {#    file: fileContents[1]#}
                {# });#}
                {##}
                {#var removeButton = '<button type="button" class="removeFile btn btn-danger" data-fileid="' + fileId + '"> Quitar </button><br><br>';#}
                {#var renameButton = '<br><br><button type="button" class="renameFile btn btn-warning" data-fileid="' + fileId + '">Renombrar</button>';#}
                {#var removeLink = "<a class=\"removeFile\" href=\"#\" data-fileid=\"" + fileId + "\">Quitar</a>";#}
                {#let size = "";#}
                {#if (fileContents[2] === 0)#}
                {#{#}
                {#    size = "0 Bytes";#}
                {# }#}
                {#else#}
                {#{#}
                {#    const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];#}
                {#    const i = Math.floor(Math.log(fileContents[2]) / Math.log(1024));#}
                {#    size = parseFloat((fileContents[2] / Math.pow(1024, i)).toFixed(2)) + ' ' + sizes[i];#}
                {# }#}
                {##}
                {#output.push('<li class="tx"><img src="' + fileContents[0]  +  '" width="100px" height="100px"><strong>',#}
                {#    escape(fileContents[1]), '</strong> - ', size , '. &nbsp; &nbsp; ', removeButton, '</li> ');#}






             });






        });

        $(this).on("click", ".removeFile", function (e)
        {
            e.preventDefault();

            var fileId = $(this).parent().children("a").data("fileid");

            for (var i = 0; i < filesToUpload.length; ++i)
            {
                if (filesToUpload[i].id === fileId)
                    filesToUpload.splice(i, 1);
            }
            

            $(this).parent().remove();
        });





        this.clear = function ()
        {
            for (var i = 0; i < filesToUpload.length; ++i) {
                if (filesToUpload[i].id.indexOf(sectionIdentifier) >= 0)
                    filesToUpload.splice(i, 1);
            }

            $(this).children(".fileList").empty();
        };

        return this;
    };

    (function () {
        var filesToUpload = [];

        var files1Uploader = $("#files1").fileUploader(filesToUpload, "files1");

        $("#uploadBtn").click(function (e)
        {
            e.preventDefault();

            var formData = new FormData();

            for (var i = 0, len = filesToUpload.length; i < len; i++)
            {
                formData.append("files", filesToUpload[i].file);
            }

            $.ajax({
                url: "",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    alert("DONE");

                    files1Uploader.clear();
                },
                error: function (data) {
                    alert("ERROR - " + data.responseText);
                }
            });
        });
    })()


    </script>
    <script src="{{ url_for("static", filename="js/common_scripts.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/functions.js") }}"></script>
    <script src="{{ url_for("static", filename="js/survey_func.js") }}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script>

        {#import io from "socket.io-client";#}

        {#const io = require('socket.io-client');#}
        {#const socket = io('http://localhost');#}
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        $(document).ready(function()
        {

            socket.on('r_obtenercalle', function(data)
            {
                console.log("recibido ");
                document.getElementById("calle").value = data["calle"];
                $("#calle").parent().addClass("fl-is-active fl-has-focus");
                document.getElementById("numero").value = data["numero"];
                $("#numero").parent().addClass("fl-is-active fl-has-focus");
                document.getElementById("cp").value = data["cp"];
                $("#cp").parent().addClass("fl-is-active fl-has-focus");
                document.getElementById("localidad").value = data["localidad"];
                $("#localidad").parent().addClass("fl-is-active fl-has-focus");

            });




        });

        function obtenercalle()
        {

            if(navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(function(position)
                {
                    console.log("dentroasasd!")
                    document.getElementById("latitude_gps").value =  position.coords.latitude.toString();
                    document.getElementById("longitude_gps").value =  position.coords.longitude.toString() ;
                    document.getElementById("precision").value = position.coords.accuracy.toString() + " metros";
                    socket.emit("obtenercalle", position.coords.latitude, position.coords.longitude );

                }, function(error)
                {

                    switch(error.code)
                    {
                        case error.PERMISSION_DENIED:
                             document.getElementById("latitude_gps").innerHTML = "User denied the request for Geolocation.";
                        break;
                        case error.POSITION_UNAVAILABLE:
                             document.getElementById("latitude_gps").innerHTML = "Location information is unavailable.";
                        break;
                        case error.TIMEOUT:
                             document.getElementById("latitude_gps").innerHTML = "The request to get user location timed out.";
                        break;
                        default:
                             document.getElementById("latitude_gps").innerHTML = "An unknown error occurred.";
                        break;
                    }

                }, {maximumAge:10000, timeout:5000, enableHighAccuracy: true});

            } else {
                alert("Sorry, your browser does not support HTML5 geolocation.");
            }






        }


    </script>

{% endblock %}