{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<meta HTTP-EQUIV="Pragma" content="no-cache">
<meta HTTP-EQUIV="Expires" content="-1">
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/reset.css") }}">
{{ super() }}
<link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
<link rel="icon" href="{{ url_for("static", filename="images/favicon.ico") }}">
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
{% endblock %}
