{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<meta HTTP-EQUIV="Pragma" content="no-cache">
<meta HTTP-EQUIV="Expires" content="-1">
{% endblock %}



{% block styles %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/reset.css") }}">
{{ super() }}
<link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
<link rel="icon" href="{{ url_for("static", filename="images/favicon.ico") }}">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">

{#    <link href="{{ url_for("static", filename="css/boostrap.min.css") }}" rel="stylesheet">#}
    <link href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet">
	<link href="{{ url_for("static", filename="css/vendors.css") }}" rel="stylesheet">


{% endblock %}

{% block body_attribs %}
class="bgImage mask blurMask"
{% endblock %}


{% block content %}


{% endblock %}
