<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Satisfaction Survey form Wizard by Ansonika.">
    <meta name="author" content="Ansonika">
    <title>Satisfyc | Satisfaction Survey form Wizard</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Caveat|Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
{#    <link href="../static/css/bootstrap.min.css" rel="stylesheet">#}
    <link href="../static/css/style.css" rel="stylesheet">
{#	<link href="../static/css/vendors_delete.css" rel="stylesheet">#}



</head>

<body class="style_1">



    <div class="container_centering">
	        <div class="container">
	            <div class="row justify-content-between">
	                <!-- /col -->
	                <div class="col-xl-5 col-lg-5">
	                    <div id="wizard_container">

	                        <form id="wrapped" method="POST" autocomplete="off">
	                            <div id="middle-wizard">
	                                <div class="step">
	                                    <h3 class="main_question"><strong>1 of 5</strong>How was the service provided?</h3>
	                                    <div class="review_block">
	                                        <ul>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="radio" id="poor_1" name="question_1" class="required" value="Poor" onchange="getVals(this, 'question_1');">
	                                                    <label class="radio" for="poor_1"></label>
	                                                    <label for="poor_1" class="wrapper">Poor</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="radio" id="average_1" name="question_1" class="required" value="Average" onchange="getVals(this, 'question_1');">
	                                                    <label class="radio" for="average_1"></label>
	                                                    <label for="average_1" class="wrapper">Average</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="radio" id="excellent_1" name="question_1" class="required" value="Excellent" onchange="getVals(this, 'question_1');">
	                                                    <label class="radio" for="excellent_1"></label>
	                                                    <label for="excellent_1" class="wrapper">Excellent</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="radio" id="outstanding_1" name="question_1" class="required" value="Outstanding" onchange="getVals(this, 'question_1');">
	                                                    <label class="radio" for="outstanding_1"></label>
	                                                    <label for="outstanding_1" class="wrapper">Outstanding</label>
	                                                </div>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                    <div class="form-group">
	                                        <label for="additional_message_label">Your Review</label>
	                                        <textarea name="additional_message" id="additional_message_label" class="form-control" style="height:120px;" onkeyup="getVals(this, 'additional_message');"></textarea>
	                                    </div>
	                                </div>
	                                <!-- /step 1-->

	                                <div class="step">
	                                    <h3 class="main_question"><strong>2 of 5</strong>Would you reccomend our company?</h3>
	                                    <div class="review_block">
	                                        <ul>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="radio" id="no" name="question_2" class="required" value="No" onchange="getVals(this, 'question_2');">
	                                                    <label class="radio" for="no"></label>
	                                                    <label for="no" class="wrapper">No</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="radio" id="maybe" name="question_2" class="required" value="Maybe" onchange="getVals(this, 'question_2');">
	                                                    <label class="radio" for="maybe"></label>
	                                                    <label for="maybe" class="wrapper">Maybe</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="radio" id="probably" name="question_2" class="required" value="Probably" onchange="getVals(this, 'question_2');">
	                                                    <label class="radio" for="probably"></label>
	                                                    <label for="probably" class="wrapper">Probably</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="radio" id="sure" name="question_2" class="required" value="Sure" onchange="getVals(this, 'question_2');">
	                                                    <label class="radio" for="sure"></label>
	                                                    <label for="sure" class="wrapper">100% Sure</label>
	                                                </div>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                    <!-- /review_block-->
	                                    <div class="form-group">
	                                        <label for="additional_message_2_label">Additional message</label>
	                                        <textarea name="additional_message_2" id="additional_message_2_label" class="form-control" style="height:120px;" onkeyup="getVals(this, 'additional_message_2');"></textarea>
	                                    </div>
	                                </div>
	                                <!-- /step 2-->

	                                <div class="step">
	                                    <h3 class="main_question"><strong>3 of 5</strong>How did you hear about us?</h3>
	                                    <div class="review_block">
	                                        <ul>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="checkbox" id="question_3_opt_1" name="question_3[]" class="required" value="Google and Search Engines" onchange="getVals(this, 'question_3');">
	                                                    <label class="checkbox" for="question_3_opt_1"></label>
	                                                    <label for="question_3_opt_1" class="wrapper">Google and Search Engines</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="checkbox" id="question_3_opt_2" name="question_3[]" class="required" value="Emails or Newsletter" onchange="getVals(this, 'question_3');">
	                                                    <label class="checkbox" for="question_3_opt_2"></label>
	                                                    <label for="question_3_opt_2" class="wrapper">Emails or Newsletter</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="checkbox" id="question_3_opt_3" name="question_3[]" class="required" value="Friends or other people" onchange="getVals(this, 'question_3');">
	                                                    <label class="checkbox" for="question_3_opt_3"></label>
	                                                    <label for="question_3_opt_3" class="wrapper">Friends or other people</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="checkbox" id="question_3_opt_4" name="question_3[]" class="required" value="Print Advertising" onchange="getVals(this, 'question_3');">
	                                                    <label class="checkbox" for="question_3_opt_4"></label>
	                                                    <label for="question_3_opt_4" class="wrapper">Print Advertising</label>
	                                                </div>
	                                            </li>
	                                            <li>
	                                                <div class="checkbox_radio_container">
	                                                    <input type="checkbox" id="question_3_opt_5" name="question_3[]" class="required" value="Print Advertising" onchange="getVals(this, 'question_3');">
	                                                    <label class="checkbox" for="question_3_opt_5"></label>
	                                                    <label for="question_3_opt_5" class="wrapper">Other</label>
	                                                </div>
	                                            </li>
	                                        </ul>
	                                        <small><em>Multiple selections *</em></small>
	                                    </div>
	                                </div>
	                                <!-- /step 3-->

	                                <div class="step">
	                                    <h3 class="main_question"><strong>4 of 5</strong>Summary</h3>
	                                    <div class="summary">
	                                        <ul>
	                                            <li>
	                                                <strong>1</strong>
	                                                <h5>How was the service provided?</h5>
	                                                <p id="question_1" class="mb-2"></p>
	                                                <p id="additional_message"></p>
	                                            </li>
	                                            <li>
	                                                <strong>2</strong>
	                                                <h5>Would you reccomend our company?</h5>
	                                                <p id="question_2" class="mb-2"></p>
	                                                <p id="additional_message_2"></p>
	                                            </li>
	                                            <li>
	                                                <strong>3</strong>
	                                                <h5>How did you hear about our company?</h5>
	                                                <p id="question_3"></p>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                                <!-- /step 4-->


	                                <div class="submit step">
	                                    <h3 class="main_question"><strong>5 of 5</strong>Please fill with your details</h3>
	                                    <div class="form-group">
	                                        <label for="firstname">First Name</label>
	                                        <input type="text" name="firstname" id="firstname" class="form-control required">
	                                    </div>
	                                    <div class="form-group">
	                                        <label for="lastname">Last Name</label>
	                                        <input type="text" name="lastname" id="lastname" class="form-control required">
	                                    </div>
	                                    <div class="form-group">
	                                        <label for="email">Your Email</label>
	                                        <input type="email" name="email" id="email" class="form-control required">
	                                    </div>
	                                    <div class="form-group">
	                                        <label for="telephone">Telephone</label>
	                                        <input type="text" name="telephone" id="telephone" class="form-control">
	                                    </div>
	                                    <div class="row">
	                                        <div class="col-lg-3 col-md-3 col-3">
	                                            <div class="form-group">
	                                                <label for="age">Age</label>
	                                                <input type="text" name="age" id="age" class="form-control">
	                                            </div>
	                                        </div>
	                                        <div class="col-9">
	                                            <div class="form-group radio_input">
	                                                <label class="container_radio">Male
	                                                    <input type="radio" name="gender" value="Male" class="required">
	                                                    <span class="checkmark"></span>
	                                                </label>
	                                                <label class="container_radio">Female
	                                                    <input type="radio" name="gender" value="Female" class="required">
	                                                    <span class="checkmark"></span>
	                                                </label>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <!-- /row -->

	                                </div>
	                                <!-- /step 5-->

	                            </div>
	                            <!-- /middle-wizard -->

	                            <div id="bottom-wizard">
	                                <button type="button" name="backward" class="backward">Prev</button>
	                                <button type="button" name="forward" class="forward">Next</button>
	                                <button type="submit" name="process" class="submit">Submit</button>
	                            </div>
	                            <!-- /bottom-wizard -->

	                        </form>
	                    </div>
	                    <!-- /Wizard container -->
	                </div>
	                <!-- /col -->
	            </div>
	        </div>
	        <!-- /row -->
	    </div>

	<script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/common_scripts.min.js"></script>
	<script src="../static/js/functions.js"></script>

	<!-- Wizard script -->
	<script src="../static/js/survey_func.js"></script>

</body>
</html>