{% extends "baseadmin.html" %}
{% block body_attribs %}
    class="mask bgImage"


{% endblock %}
{% block content %}
<div class="">
    <div class="pageTitle">LOGIN</div>

<div class="container">
<div class="row">

    <p class="lOGINWITH">LOGIN WITH</p>

    <form action="{{ url_for("recibir_login") }}" method="post">
        Usuario: <input type="text" name="usuario" value="" placeholder="usuario" class="login">
        Password: <input type="text" name="password" value="" placeholder="password">
        <button type="submit" class="loginButto texto_login">ENVIAR</button>
    </form>



</div>


</div>


</div>
{% endblock %}