{% extends "baseadmin.html" %}

{% block content %}
<div class="">
    <div class="pageTitle">LOGIN</div>

<div class="container">
<div class="row center-block">

    <p class="lOGINWITH">LOGIN WITH</p>


    <form action="{{ url_for("recibir_login") }}" method="post">
       
            Usuario: <input type="text" name="usuario" value="" placeholder="usuario" class="login col-lg-2">


       
        Password: <input type="text" name="password" value="" placeholder="password" class="col-lg-2">
        
        <button type="submit" class="loginButto buttonsWhi rectangle center-block">LOGIN</button>
    </form>



</div>


</div>


</div>
<div class="container abajo_texto_explicacion">
<div class="row text-center"><b>Si tienes algun problema peganos un telefonazo</b></div>
</div>

{% endblock %}