{% extends "base_menu_admin.html" %}

{% block titulo %}LISTADO VIVIENDAS{% endblock %}

{% block menu_medicion  %}
    <ul class="nav nav-tabs tabs_fixed ul_fixed">
    <li role="presentation" class="active" id="sin_medicion" onclick="cambiar_pest(this);"><a href="#" >SIN MEDICION</a></li>
    <li role="presentation" class="" id="con_medicion" onclick="cambiar_pest(this);"><a href="#" >CON MEDICION</a></li>
    </ul>
{% endblock %}

{% block contenido_central %}
 {% if datos %}
     {% for elemento in datos %}
         <div class="aditem">
             <div class="aditem-header">
             <!-- quine lo ha introducido -->
                <div class="x3">{{ elemento.localidad }} - {{ elemento.nombre }}</div>
                <div class="x6" >
                    {% if elemento.fechadelta >= fechaahora  %}
                    <span class="new-ad-label">NUEVA ENTRADA</span>
                    {% else %}
                        <span class="new-ad-label">{{ elemento.fecha.strftime("%d-%m-%Y") }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="aditem-detail-image-container">
                <div class="aditem-detail">

                    <!-- modal ?? -->
                    <a href="" class="aditem-detail-title ">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        {{ elemento.calle }}<br>
{#                        Numero: {{ elemento.numero }}#}
                    </a>
                    <div class=" list-location-link tx">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        Lorem Ipsum dolor sit

                    </div>
                    <div class="tx">
                        Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    </div>
                    <br>
                    <div class="x12">
                        <div class="adlist-tagsbox-inlineblockline">
                            <div class="vefbox"><a href=""><div class="pillDiv vef">Ver fotos</div></a></div>
                        </div>
                    </div>
                    <div class="x11">
                        <div class="adlist-tagsbox-inlineblockline">
                            <div class="aditem-price">{{ elemento.precio }}<sup>€</sup></div>
                        </div>
                    </div>
                </div>

            <div class="aditem-image">

                    <img src="https://via.placeholder.com/100.png/09f/fff" class="ef">
                    <br>
            </div>
            </div>

            <div class="aditem-footer">
                <div class="aditem-buttons">
                    <div>
                        <!-- modal -->
                        <a href="#" class="def-btn">
                        <i class=" icon icon-white-envelope"></i>
                        <span class="byEmail">MENSAJE DUEÑO</span>
                        </a>
                    </div>

                    <div>
                        <a href="" class="simple-button"><i class="icon icon-share"></i> <span>MODIFICAR<span></span></span></a>
                    </div>

                    <div>
                        <a href="" class="simple-button"><i class="icon icon-complaint"></i><span>Borrar</span></a>
                    </div>
                </div>
            </div>
        </div>
         <br>
    {% endfor %}

{#        <div class="container">#}
{#            <ul id="lista_menu">#}
{#                {% for elemento in datos %}#}
{#                <li>#}
{#                    <a href="{{ url_for("alta_piso") }}">#}
{#                        <div class="">#}
{#                            Calle: {{ elemento["calle"] }} Numero: {{ elemento["numero"] }}#}
{#                        </div>#}
{#                        <div class="">#}
{#                            {{elemento["precio"]}}#}
{##}
{#                        </div>#}
{#                        <div class="">#}
{#                            <img src="{{ elemento["foto"] }}">#}
{##}
{#                        </div>#}
{##}
{#                    </a>#}
{##}
{#                </li>#}
{##}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
    {% endif %}
{% endblock %}

{% block footer_medidas %}
        <div class=" col-xs-5 show_clicked_abajo text-center">
            <a href="{{ url_for("menu_admin") }}">
            <span class="glyphicon glyphicon-tag glyphicon_font_footer"></span>
            <div class="pageTitleC">MEDIDAS</div>
                </a>
        </div>
{% endblock %}