{% extends "baseadmin.html" %}
{% block body_attribs %}
{% endblock %}

{% block content %}

    <div class="mask">
            <div class="darkgradie">

                <!-- formulario -->
                <form action="{{ url_for("home") }}" method="post">
                    <div class="form-inline  text-center">

                        <button type="submit"  class="text-center tabColor_pago rectangulo_pago text_pago">
                            INICIAR MEDICION
                        </button>




                        <button type="submit"  class="text-center tabColor_pago rectangulo_pago text_pago">
                            INICIAR MEDICION
                        </button>




                    </div>


                </form>



            </div>
        </div>





{% endblock %}